/* Estilos para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

/* Estilos para el encabezado (header) */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Estilos para el título principal */
h1 {
    color: #FF5733;
}

/* Estilos para la imagen centrada */
.centrada {
    display: block;
    margin: 0 auto; /* Establece el margen izquierdo y derecho a "auto" para centrar horizontalmente */
}

/* Estilos para el contenido principal */
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para los párrafos */
p {
    line-height: 1.5;
    text-align: justify;
}

/* Estilos para el pie de página (footer) */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}
